{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
<div class="container text-center">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="form p-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="name" value="{{ form.name.value }}" required />
    <input type="hidden" name="email" value="{{ form.email.value }}" required />
    <input type="hidden" name="password" value="{{ form.password.value }}" required />
  {% endif %}
  <button class="submit-btn" type="submit">Sign Up</button>
</form>
</div>
{% endblock content %}
