
Footer {
    background-color: #59114d;
    opacity:1;
    margin: 10px; 
    padding:5px; 
}



.copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#ffffff;
    margin-bottom:0;
  }