
:root{
  /* Fonts */
  
  --title: 'Roboto', sans-serif;
  --main-font: 'Sansita', sans-serif;
  
  /* Colors */
  
  --background: #3f006a0f;
  --blue: #0d6efd;
  --black: #000;
  --off-white: #f6f6f6;
  --white: #fff;
  --orange: #ffbf50;
  
  
  /* Utils */
  
  --smal-box-shadow: 1px -1px 7px 0 #00000061;
  --border: #00000030 1px solid ;
  }

  /* Navabr */

.logo-icon{
  
    width: 18.75rem;
    height: 5rem;


}


html,body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: var(--white);
}

.copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#ffffff;
    margin-bottom:0;
  } */

.title {
  color: pink;
}


/* The styles for the signup page */

#signup_form {
  align-items: center;
  text-align: center;
  background-color: green;
}

.submit-btn {
  background: #02ef90;
  color: #fff;
  border: 1px solid #040000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #5a5a5a;
  text-shadow: none;
}

.submit-btn:hover {
  background: rgb(4, 234, 15);
  color: #fff;
  border: 1px solid #040000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #5a5a5a;
  text-shadow: none;
}

/* The styles for login page */

form {
  align-items: center;
  text-align: center;
  background-color: green;
  color: black;
}

#Sign-in-btn {
  background: #02ef90;
  color: #fff;
  border: 1px solid #040000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #5a5a5a;
  text-shadow: none;
}

#Sign_in_btn:hover {
  background: rgb(4, 234, 15);
  color: #fff;
  border: 1px solid #040000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #5a5a5a;
  text-shadow: none;
}

/* Logout.html styling */
.logout-form {
  align-items: center;
  text-align: center;
  background-color: green;
  color: black;
}

.signout-btn {
  background: rgb(4, 234, 15);
  color: #fff;
  border: 1px solid #040000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #5a5a5a;
  text-shadow: none;
}

.signout-btn:hover {
  background: red;
  color: white;
  border: 1px solid #040000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #5a5a5a;
  text-shadow: none;

}

  
/* Footer */

  footer{
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
  height: 2rem;
  margin: 1rem; 
  margin-bottom: 10px;
}

.text-color{
  color: #000;
}