/* #navigation-bar {
    padding:5px; 
    margin:5px; 
    color:#2B2D42; 
    text-decoration: white;
    background-color: pink;
}

/* Footer */

/* footer {
    background-color: #59114d;
    opacity:1;
    margin: 10px; 
    padding:5px; 
    background-color: pink;
}



.copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#ffffff;
    margin-bottom:0;
  } */ 

  .title{
    color: pink;
  }

 