{% extends 'base.html' %}

{% block content %}
    <!-- About content -->
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h1>About Mission Possible</h1>

                <p>We at Mission Possible believe that no task is impossible!
                    With our app, we'll help you plan and keep track of your tasks by keeping it simple</p>

                <p>A simple stream-lined task management app that gives you just
                    the features you need and cuts out all the junk</p>
                
            </div>
        </div>
    </div>
{% endblock %}