{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="text-center p-2">
        Notes
    </h1>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for note in note_board %}
        <a href="{% url 'note_detail' note.slug %}">
            <div>
                <h2 class="text-center" aria-label="click to view {{note.title}}">{{note.title}}</h2>
                <div>{{note.note | truncatechars:100}}</div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="container">
        <a href="{% url 'create_note' %}">
            <button class="btn btn-primary">add +</button>
        </a>
    </div>
{% endblock %}