{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        <h1 class="text-center p-2">
            Notes
        </h1>
        {% for note in notes %}
            <div>
                <h2 class="text-center" aria-label="click to view {{note.title}}">{{note.title}}</h2>
                <div>{{note.note | trancatechars:100}}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}